.todo {
    width: 30%;
    box-sizing: border-box;
    background-color: lightpink;
    padding: .6em;
    border-radius: .55em;
    margin: 1em;
    cursor: pointer;
}

.todo h3 {
    margin: 0px;
}

.todo p {
    margin: 1px;
}

.completed {
    opacity: 40%;
    background-color: lightseagreen;
    text-decoration: line-through; /*Strike out completed items*/
}

#complete-items {
    border: .2em solid lightseagreen;
}

#incomplete-items {
    border: .2em solid pink;
    margin-bottom: 1em;
}